body{
    margin: 0;
}

main h1{
    font-size: 45px;
    margin: 0%; 
    padding: 3% 0;
}

main{
    text-align: center;
    color: rgb(243, 127, 4);
    background-color: #241404;
    padding: 1% 0;
}

#cardBody{
    width: 100%; 
}

.expl, .expl, ul, li{
    font-size: 18px;
}

